<!DOCTYPE html>
<html>
  <head>
    <title>Successful Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>User Created</h1>
    <h4><a href="/">Click to signin</a></h4>
  </body>
</html>